<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ing3nia.parentalcontrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application 
        android:icon="@drawable/ic_launcher" 
        android:label="@string/app_name" 
        android:name=".httpconnect.HttpClientHandler">
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity 
            android:name=".ui.PostInstallation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:label="RegisterSmartphone" 
            android:name=".ui.RegisterSmartphone"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <activity 
            android:label="Login" 
            android:name=".ui.Login"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:label="SmartphoneList" 
            android:name=".ui.SmartphoneList"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        
        <activity 
            android:label="DailyRoute" 
            android:name=".ui.DailyRoute"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>

	</application>
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
        
<!--         <activity -->
<!--             android:label="@string/app_name" -->
<!--             android:name=".ParentalControlAndroidActivity" > -->
<!--             <intent-filter > -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->